body {
  background-color: rgba(127, 255, 212, 0.397);
  font-family: "Architects Daughter", cursive;
}

h1 {
  text-align: center;
  font-style: oblique;
  color: rebeccapurple;
}

h2 {
  color: darkred;
}

p {
  text-align: center;
}

a {
  color: rgba(34, 0, 255, 0.542);
}

.firstList li {
  margin: 15px;
  color: rgb(235, 71, 99);
  list-style: decimal-leading-zero;
  font-size: larger;
}

@keyframes evenflash {
  0% {
  }
  50% {
    background-color: rgb(226, 177, 43);
  }
  100% {
    background: rgb(226, 43, 119);
  }
}

@keyframes oddflash {
  0% {
  }
  50% {
    background-color: rgb(49, 220, 120);
  }
  100% {
    background: rgb(43, 168, 226);
  }
}
